body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(244, 247, 250);
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0 0 16px 0;
  font-weight: 600;
  color: rgb(74, 144, 226);
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 16px 0 8px 0;
  color: rgb(30, 80, 105);
}

p {
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.4;
  color: rgb(30, 75, 95);
}

#second-h2 {
  color: rgb(106, 76, 147);
}
